:root {
    --main-color: linear-gradient(135deg, rgba(188, 43, 80, 1) 30%, rgba(130, 84, 235, 1));
    --dark-main-color: linear-gradient(135deg, rgb(144, 21, 52) 30%, rgb(85, 46, 176));
    --main-red:#BC2B50;
    --main-purple:#8254EB;
    --light-purple:#DED9E880;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Sans', 'Microsoft JhengHei', sans-serif;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

h1 {
    font-size: 100px;
    line-height: 136.2px;
    font-weight: 700;
    @include text-liner(var(--main-color));
    display: inline;
    @include mobile{
        font-size: 70px;
        line-height: 100px;
    }
    @include extra-small{
        font-size: 63px;
    }
}

h2 {
    font-size: 32px;
    line-height: 43.58px;
    font-weight: 700;
    letter-spacing: 3.2px;
    @include extra-small{
        font-size: 24px;
        line-height: 32px;
    }
}

p {
    line-height: 21.79px;
    font-weight: 400;
    letter-spacing: 2.4px;
    @include extra-small{
        line-height: 18px;
    }
}

a {
    text-decoration: none;
}

.container{
    max-width: 1176px;
    margin: 0 auto;
    padding: 0 12px;
    @include mobile{
        padding: 0 40px;
    }
}